.piano {
  display: flex;
  position: absolute;
  bottom: 0;
}

.octave {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 1.92vw;
  background-color: #f8f7f9;
  border: 1px solid grey;
}

.black {
  --width: 1vw;
  background-color: #0c0c0c;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.white.active {
  background-color: #a19ca7;
  border: 1px solid grey;
}

.black.active {
  background-color: #a19ca7;
  border: 1px solid grey;
}
